.destinations .section-title h2 {
    font-size: 32px;
}

.destination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.destinations .item .img-item {
    width: 312px;
    height: 360px;
    margin-bottom: 24px;
}

.destinations .item .img-item.tokyo {
    background: url(../img/tokyo-mobile.jpg) no-repeat;
    background-size: cover;
}

.destinations .item .img-item.osaka {
    background: url(../img/osaka-mobile.jpg) no-repeat;
    background-size: cover;
}

.destinations .item h4 {
    margin: 0 0 24px;
}

.destinations .item p {
    margin: 0 0 24px;    
}

.destinations .item .button {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .destinations .section-title {
        width: 648px;
    }

    .destinations .item {
        width: 648px;
    }

    .destinations .item .img-item {
        width: 648px;
        height: 452px;
    }

    .destinations .item .button {
        width: 280px;
    }

}

@media screen and (min-width: 1440px) {

    .destinations .section-title {
        width: 100%;
    }

    .destination-item {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .destinations .destination-item .item {
        width: 588px;
    }

    .destinations .destination-item .item .img-item {
        width: 588px;
    }

}