.hero-img {
    height: 400px;
    width: 100%;
    background: url(../img/hero-mobile.jpg) no-repeat;
    background-size: cover;
}

.hero h2 {
    padding: 88px 24px 0;
    margin: 0;
    font-weight: var(--text-weight);
    font-size: 20px;
    text-align: center;
    line-height: 32px;
}

/* PACOTES DE VIAGENS */
.travel-packages .hero-img {
    height: 460px;
    width: 100%;
    background: url(../img/hero-mobile-pdv.png) no-repeat;
    background-size: cover;
}

.travel-packages .hero-content {
    height: 330px;
    padding: 65px 24px 65px 24px;
}

.travel-packages .hero-content h1 {
    font-size: 48px;
    color: var(--text-secondary-color);
    font-weight: var(--title-weight);
}

.travel-packages .hero-content hr{
    width: 180px;
    height: 4px;
    background-color: var(--secondary-color);
    border: none;
    margin: 16px 0 0 0;
}

.travel-packages .hero-content p {
    margin-top: 32px;
    font-size: 20px;
    font-weight: var(--text-weight);
    color: var(--text-secondary-color);
    line-height: 32px;
}

@media screen and (min-width: 768px) {
    .hero-img {
        height: 620px;
        background: url(../img/hero-mobile-tablet.jpg) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        padding: 88px 60px 0;
        font-size: 32px;
        line-height: 150%;
    }

    /* PACOTES DE VIAGENS */
    .travel-packages .hero-img {
        height: 620px;
        width: 100%;
        background: url(../img/hero-tablet-pdv.png) no-repeat;
        background-size: cover;
    }

    .travel-packages .hero-content {
        width: 579px;
        height: 303px;
        padding: 209px 69px 107px 120px;
    }

    .travel-packages .hero-content p {
        font-size: 32px;
        line-height: 48px;
    }
}

@media screen and (min-width: 1024px) {
    /* se retirar esse hero-img a imagem se adapta melhor, na minha opiniao */
    .hero-img {
        background: url(../img/hero-desktop.jpg) no-repeat;
        background-size: cover;
    }

    .hero h2 {
        padding: 104px 120px 0;
    }
}

@media screen and (min-width: 1440px) {

    /* PACOTES DE VIAGENS */
    .travel-packages .hero-img {
        width: 100%;
        background: url(../img/hero-desktop-pdv.png) no-repeat;
        background-size: cover;
    }

    .travel-packages .hero-content {
        padding: 158px 0 158px 120px;
    }
}

@media screen and (min-width: 1920px) {
    .hero h2 {
        padding: 104px 160px 0;
    }
}