.testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.testimonial-container article header p {
    font-size: 16px;
    line-height: 28px;
}

.testimonial-container article footer {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.testimonial-container article footer img {
    width: 86px;
    height: 86px;
}

.testimonial-container article footer .profile-content h3 {
    font-size: 20px;
    line-height: 32px;   
    font-weight: var(--title-weight);
    margin: 0 0 8px;
}

.testimonial-container article footer .profile-content .rating .star {
    font-size: 38px;
    line-height: 32px;  
    color: var(--secondary-color);
    margin: 0;
}

@media screen and (min-width: 1440px) {
    .testimonial-container {
        flex-direction: row;
        gap: 32px;
    }   
}